@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins, 'sans-serif';
}


.content {
   display: flex;
   flex: row;
   position: relative;

   width: 100vw;
   min-height: 100vh;
}

.left {
    width: 35vw;
    background-image: url(plant.jpeg);
    background-position: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.banner {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 25vh;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 13vh;
}

.bannerTitle {
    font-family: Norse-Bold;
    font-weight: 500;
    font-size: 5rem;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 1vh;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    width: 35%;
}

.footerText {
    max-width: 200px;
}

.footer a {
    color: white;
}

.right {
    width: 65vw;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.top {
    padding-left: 5%;
    padding-right: 20%;
    padding-bottom: 40px;
    font-weight: bold;
    box-shadow: 0 1px 1px #f8f9fa;
}

.middle {
    padding-top: 12px;
    padding-left: 5%;
    background-color: #ffffff;
    font-weight: bold;
    box-shadow: 0 2px 3px #dcddde;
}

#form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
}

input:focus {
    border: 2px solid lightblue;
    box-shadow: 0px 2px 1px #a0aa99;
    outline: none;
}

input:valid {
    border: 2px solid green;
    outline: none;
}

input:not(.unfilled):invalid {
    border: 2px solid red;
    outline: none;
}

.bottom {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 20%;
    font-size: 14px;
    font-weight: bold;
}

.bottom button {
    background-color: #596D48;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 1px 2px 2px  #a0aa99;
}

.bottom button:hover {
    background-color: white;
    color: #596D48;
}

.bottom a{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}